extends layout

block content
  #main.referenceDiv
    #Images
      h2 Images
      ul
        li
          | Type writter cover image - by bogitw retreived from 
          a.reference(href='https://pixabay.com/en/typewriter-keys-mechanically-726965/') Pixabay
        li
          | Fairyland Canyon Utah Park - by derwiki retreived from 
          a.reference(href='https://pixabay.com/en/fairyland-canyon-utah-park-1632749/') Pixabay
        li
          | Roof plate tiles brick black - by jarmoluk retreived from 
          a.reference(href='https://pixabay.com/en/roof-plate-tiles-brick-black-264742/') Pixabay
        li
          | git icon retreived from 
          a.reference(href='https://git-scm.com/images/logos/downloads/Git-Icon-Black.png') git-scm
        li
          | Light bulb icon retreived from 
          a.reference(href='https://cdn2.iconfinder.com/data/icons/flat-icons-19/512/Light_bulb.png') iconfinder
        li
          | Female avatar icon retreived from 
          a.reference(href='https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png') iconfinder
      h2 Fonts
      ul
        li
          | Droid Sans Mono designed by Steve Matteson retreived from 
          a.reference(href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono') Google Fonts
        li
          | Open Sans designed by Steve Matteson retreived from 
          a.reference(href='https://fonts.googleapis.com/css?family=Open+Sans') Google Fonts
