extends layout

block content
  .container-fluid
      .row
        #coverflow01.coverflow
          #main.jumbotron
            h1 About
            h3 How Teamspark works
            h4 Find out more about our unique two way matching.
            
        #content01.content
          h2 Info
          h3 Teamspark was developed using the MEAN stack architecure. With node webserver
          h3 Express web framework and Mongo as the document database.
        #content02.content
          h2 Bonus features:
          h3 
           b Mobile support 
          h4 Fully supported by most modern mobile device browsers as Teamspark makes use of Bootstrap.
          h3 
           b Two way matching : Now matches Group-to-user and User-to-group matching.
          h4 Teamspark does not match only user to user, but has two different types of matches- linking users to projects, and project leaders to potential team members. 
          br
        #content01.content
          h2 Getting Started
          h3 Teamspark is a free of cost service, to get started simply Register!  
            span.glyphicon.glyphicon-user
          br
          h3 Already Registered? Then just Login.  
            span.glyphicon.glyphicon-log-in
      
    
        //#coverflow02.coverflow
            
        #content02.content
          h2 Want to pitch your idea? Create a project
          h3 Teamspark makes it easy to help your ideas get heard with our matching algorithm. To pitch your idea simply create a project.   
            span.glyphicon.glyphicon-education
          br
          h3 Now all you need is to find team members for your project!   
            span.glyphicon.glyphicon-user
          br
          h4 Note: For now limited to 1 project per user.
          
        #content01.content
          h2 Looking to contribute? Join a project
          h3 Teamspark also makes it easy to find the perfect project you might want to work on with our matching algorithm.    
            span.glyphicon.glyphicon-user
          br
          h3 Now all you need is to find a project!   
            span.glyphicon.glyphicon-education
          br   
          
        #coverflow02.coverflow
          #main.jumbotron
            h2 Thats it! Now wait for your matches
            
        #content01.content
          h2 Difficulties Faced
          h3 Due to a very limited time-span the team had to make some choices. Here are some features that were not fully functional.
          br
          ol
            li Real time chat.
            li Images database exists that can be used to store profile images of users. However, due to the limitation of an interactive frontend, and having to specify a filepath each time, this was scraped.
            li Properly cleaning up for unnecessary functions and files within the project.
    
        #content02.content
          h2 Reference
          h3 
            b images
          h4 
            a.reference(href='https://pixabay.com/en/fairyland-canyon-utah-park-1632749/') Pixabay
          h4 
            a.reference(href='https://www.pexels.com/') Pexels
          br
          h4 Bootstrap
          h4 jquery
          h4 succient
