extends layout

block content
  .container-fluid
      .row
        #coverflow01.coverflow
          #main.jumbotron
            h1 Testing 
            h3 Keeping things right
            
      .row
        .content
          .container
            .row
                .col-sm-8.col-sm-offset-2
                    .text-left
                        h2 General Testing
                        h3 The team worked quickly to build features into the website.
                        | With each feature we populated the database with relavent
                        | documents and began experimenting. The experiments tested
                        | the intended functionality and ways the functionality might be exploited.
                        | For instance, when liking a project or person, we tried rapidly
                        | clicking the like button. Sure enough, instead of one like, there
                        | were many likes. To solve the problem we disabled the button as soon
                        | as it was clicked. The tests were not methodical, but enabled the team
                        | to quickly push new features and quickly determine if the implementation
                        | of a feature was acceptable. 
                        
                        h2 Unit Testing
                        h3 In production software, every line of code should be validated
                        | by at least 1 test case. Unit testing is important because, once established,
                        | changes to a project can be quickly tested to ensure the behaviour of the 
                        | code hasn't changed. Unit testing also provides a standard way of
                        | thoroughly testing pieces of code for different languages.
                        | 
                        | The team would have implemented unit testing, but it would have slowed
                        | the rapid development of features. For longer term projects, unit testing
                        | would be essential.
