@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: inherit;
}

form. {

    clear: both;
    border-radius: 8px;
    border: none;

    /*width: 50%;*/
    padding: 30px;
    margin: 20px auto;
    font-size: 120%;
    background-color: gray;
    color: black;
    opacity: 0.8;
    text-align: center;
}

.form-container {
    margin: 10px auto;
    padding-top: 40px;
}

form label {
    float: left;
    clear: both;
    margin-bottom: 10px;
    text-align: left;
}

div.referenceDiv {
  width: 90%;
  padding: 40px;
  margin: 40px auto;
  background-color: gray;
  color: black;
  opacity: 0.9;
  text-align: center;
}

div.errorDiv {
  padding: 40px;
  margin: 40px auto;
  background-color: white;
  color: red;
  opacity: 0.9;
  text-align: center;
  /*font-size: 150%;*/
}

a.reference {
  color: blue;
  background-color: plum;
}

ul {
  list-style-type: none;
}

#feedback {
  /*margin: 40px;*/
  padding: 50px;
  text-align: left;
  height: 50px;
  width: 100%;
}

/*input[type=text], select, [type=email], [type=Password] {
  width: 75%;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
  border-bottom: 5.0px;
  margin: 8px 0;
}*/

.covertext {
  background-color: black;
  opacity: 0.7;
  font-family: 'Droid Sans Mono';
  color: white;
}

.errorDiv img {
  border: 0;
  width: 400px;
  height: 300px;
}

img {
  width: 70px;
  height: 70px;
}

#avatarImg {
  width: 100px;
  height: 100px;
}

#navbar img {
  border: 0;
  width: 45px;
  height: 45px;
}

.active {
  background-color: #4CAF50;
}

.content {
  padding: 50px;
  text-align: center;
  background: linear-gradient( #db67ff, #9c00cc);
  color: white;
}

#content01 {
  background: linear-gradient( #db67ff, #9c00cc) !important;
}

#content02 {
  background: linear-gradient( #66d9ff, #00ace6) !important;
}

#content03 {
  background: linear-gradient( #66d9ff, #db67ff) !important;
}

#main.jumbotron {
	background-color: rgba(0,0,0,0.7) !important;
}

.coverflow {
	padding-top: 80px;
	padding-bottom: 80px;
  text-align: center;
	color: #fff;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

#coverflow01 {
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/typewritter.jpg");
}

#coverflow02 {
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/space-1.jpg");
}

#coverflowSignin {
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/sign-in.jpg");
}

#coverflowProject {
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/project.jpeg");
}

#coverflowProjectCreate {
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/project-create.jpg");
}

#coverflowContact {
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/contact.jpg");
}

#coverflowRegister {
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/register.jpeg");
}

#nameError, #passwdError, #usernameError, #emailError, #rePasswdError, #dobError, #agreementErr, #genericError {
  width: 25%;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 11px;
  color: red;
  font-weight: bold;
  background-color: pink;
  text-align: center;
  margin-left: 25px;
  border-left: 10px;
}

#terms {
  text-decoration: underline;
  color: indigo;
}

#terms:hover {
  color: purple;
}

#scrollableText {
  height: 50px;
  width: 100%;
  background-color: peachpuff;
  overflow-y: scroll;
}


input[type=text], input[type=email], input[type=date], input[type=password], input[type=number], textarea, select {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;

    background-color: #e8eeef;
    color:#8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type=text]:hover, input[type=number]:hover, input[type=date]:hover,
input[type=email]:hover, input[type=password]:hover, textarea:hover, select:hover {
    background: rgb(220, 240, 240);
}

input[type=text]:focus, input[type=number]:focus, input[type=date]:focus,
input[type=email]:focus, input[type=password]:focus, textarea:focus, select:focus {
    background: rgb(210, 235, 235);
}

input[type="submit"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: auto;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: rgb(102, 190, 255);
    border: 1px solid rgb(102, 170, 255);
    border-width: 1px 1px 3px;


}

input[type=submit]:hover {
    background-color: rgb(51, 204, 204);
    border: 1px solid rgb(51, 190, 204);
    border-width: 1px 1px 3px;
}

input[type=checkbox] {
    float: left;
    clear: left;
    margin-left: 20px;
    margin-bottom: 10px;
    vertical-align: bottom;
}

/*textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    background-color: #e8eeef;
}*/



form.entries {
    clear: both;
    border-radius: 8px;
    border: none;
    padding: 30px;
    margin: 20px auto;
    font-size: 120%;
    background: linear-gradient(#66d9ff, #db67ff);
    color: black;
    text-align: center;
}

.social-icon {
    color: #fff;
}

.social-icons {
    display: flex;
    float: left;
    clear: both;
    padding: 0;
}

.social-icons ul {
    list-style: none;
    padding-left: 0;
}

.social-icons li {
    display: inline;
    height: 14px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.transition-colour {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-facebook {
    padding:10px 14px;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-github {
    padding:10px 14px;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #a1f442;
}

.fa-twitter {
    padding:10px 14px;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube {
    padding:10px 14px;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-google-plus {
    padding:10px 14px;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

.footer-upper {
    padding-top: 15px;
    padding-bottom: 30px;
    overflow: hidden;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.tile {
  background: linear-gradient( #f2f2f2, #cccccc);
  color: black;
  /*height: 400px;*/
}

.breakWord {
  overflow-wrap: break-word;
}
