extends layout


block content
  .container-fluid
    .row
      #coverflow01.coverflow
        #main.jumbotron
          img(src='data:image/png;base64,#{user.data}' style="height=150px; width=150px;")
          h1 #{user.fullname}
          h2
            i #{user.username}
    
    .row
      .content
        
        #chatwindow
          ul(id="messages")
            li First Post!
            
          form.entries(action="", id='msgForm', onSubmit='return false;')
            input(id="message" autocomplete="off")
            button(type='button', onClick='send();') Send
