extends layout

block content

  script(src="/socket.io/socket.io.js")
  
  script.
    console.log('loading script');
    var socket = io();
    console.log('poo');
    socket.emit('connect', function(){
      console.log('connected');
      socket.emit('create', user.username);
    });
    
    function send(){
      console.log('send');
      var messageElement = document.getElementById('message');
      var message = {
        message: message.value,
        user: user.username
      }
      socket.emit('message', message);
      message.value = '';
    };
    
    socket.on('message', function(msg){
      var messages = document.getElementById('messages');
      var newText = document.createElement('li');
      newText.innerHTML = msg.user + ': ' + msg;
      messages.appendChild(newText);
    });

  .container-fluid
    .row
      #coverflow01.coverflow
        #main.jumbotron
          //img#avatarImg.avatar(src='/images/user_image.png', alt='Avatar')
          img(src='data:image/png;base64,#{user.data}' style="height=150px; width=150px;")
          h1 #{user.fullname}
          h2
            i #{user.username}
    
    .row
      .content
        .container
          .row
            #content(width='50%', float='left')
              
            #chatwindow(width='20%', float='right')
              ul(id="messages")
                li First Post!
                
              form(action="", id='msgForm', onSubmit='return false;')
                input(id="message" autocomplete="off")
                button(type='button', onClick='send();') Send
