extends layout

block content
  #navbar
    ul
      li
        img(src='/images/logo.png', alt='Teamspark')
      li
        a(href='/') 
          b Teamspark
      li
        a(href='/contact') Contact
      li
        a(href='/reference') Reference
    form(action='/login')
      button.loginButton SIGN IN
    form(action='/signup')
      button.signupButton SIGN UP
  #header
    h1 Teamspark
  #main
    #formContainer
      form.entries(action='javascript:successContact()')
        img#avatarImg.avatar(src='/images/logo.png', alt='Avatar')
        br
        p Your two cents matter!
        label Text Field
        br
        p#genericError
        input#feedback(type='text', name='message', placeholder='Please type your feedback here...')
        br
        label Email Address
        br
        p#emailError
        input#email(type='text', name='Email', placeholder='user@example.com')
        br
        input#agreebox(type='checkbox', name='agreement')
        label Forward me a copy.
        br
        br
        button.genericButton(onclick='return validateSubmit()') SUBMIT
        br
      script(type='text/javascript', src='/javascript/contact_events.js')
  #footer
