extends layout

block content
  #header
    h1 Teamspark
  #main
    form.entries(action='javascript:success()')
      img#avatarImg.avatar(src='/images/female_avatar.png', alt='Avatar')
      br
      p Welcome Back!
      label Username
      br
      p#usernameError
      input#username(type='text', name='username', placeholder='username')
      br
      label Password
      br
      p#passwdError
      input#passwd(type='Password', name='password')
      br
      button.genericButton(onclick='return validateSignIn()') SIGN IN
      br
  script(type='text/javascript', src='/javascript/sign_in_event.js')
