extends layout

block content
  #coverflow01.coverflow
    .container-fluid
      .col-md-6.col-md-offset-3
        form
          h2 Welcome Back
          label.sr-only(for='inputEmail') Email address
          input.form-control(type='email', placeholder='Email address', required, autofocus)
          label.sr-only(for='inputPassword') Password
          input.form-control(type='password', placeholder='Password', required)
          br
          button.btn.btn-lg.btn-default.btn-block(type='submit') Sign in
  //script(type='text/javascript', src='/javascript/sign_in_event.js')
