extends layout

block content
    #coverflowProjectCreate.coverflow
        .row
            .container-fluid
                .col-md-6.col-md-offset-3
                    form.entries(name='/project/new', method="post", onload='makeFooter()')
                        img#avatarImg.avatar(src='/images/logo.png', alpostt='Avatar')
                        br
                        p
                          | Create a new 
                          b Project
                        .form-group
                            label Project Title *
                            input#Title(type='text', name='title', placeholder='Project Title')
                        .form-group
                            label Description *
                            textarea#Description(type='textarea', name='description', placeholder='Pitch your project...')
                        .form-group
                            label Required skill level 
                            select#SkillLevel(name='skillLevel')
                              option(value='beginnger') Beginner
                              option(value='intermediate') Intermediate
                              option(value='advanced') Advanced
                        .form-group#progLanguages
                              label Required Programming Languages *
                              select#selectProgLanguage(name='programmingLanguages')
                                option(value='c') C
                                option(value='cpp') C++
                                option(value='cs') C#
                                option(value='haskell') Haskell
                                option(value='java') Java
                                option(value='js') JavaScript
                                option(value='objectivec') Objective-C
                                option(value='perl') Perl
                                option(value='php') PHP
                                option(value='python') Python
                                option(value='ruby') Ruby
                                option(value='scala') Scala
                                option(value='other') Other...
                         .form-group
                               button#plusExtraProgLang(name = 'posproglang', type='button', onclick='return addLangOpt()') +
                               button#minusExtraProgLang(name = 'negproglang', type = 'button', onclick='return minusLangOpt()') -
                        .form-group
                            label Weekly workload in hours
                            select#workload(name='workload')
                              option(value='5 hours') 5 hours or less.
                              option(value='10 hours') 10 hours per week.
                              option(value='15 hours') 15 hours per week.
                              option(value='20 hours') 20 hours per week.
                              options(value='20+ hours') More than 20 hours per week.
                        .form-group
                            label Willing to work with a virtual team? *
                            select#online(name='virtualTeam')
                              option(value='yes') Yes
                              option(value='no') No
                        .form-group
                            button.btn.btn-lg.btn-default.btn-block(onclick='return validateSubmit()') Submit
