extends layout

block content
    .form-page
        .row
            .container-fluid
                .col-md-6.col-md-offset-3
                    form.entries(name='/project/new', method="post", onload='makeFooter()')
                        img#avatarImg.avatar(src='/images/logo.png', alpostt='Avatar')
                        br
                        p
                          | Create a new 
                          b Project
                        .form-group
                            label Project Title *
                            input#Title(type='text', name='title', placeholder='Project Title')
                        .form-group
                            label Description *
                            textarea#Description(type='textarea', name='description', placeholder='Pitch your project...')
                        .form-group
                            label Required skill level 
                            select#SkillLevel(name='skillLevel')
                              option(value='beginnger') Beginner
                              option(value='intermediate') Intermediate
                              option(value='advanced') 
                        .form-group
                            label Programming languages
                            select#language(name='programmingLanguage')
                              option(value='c') C
                              option(value='cpp') C++
                              option(value='cs') C#
                              option(value='haskell') Haskell
                              option(value='java') Java
                              option(value='js') JavaScript
                              option(value='objectivec') Objective-C
                              option(value='perl') Perl
                              option(value='php') PHP
                              option(value='python') Python
                              option(value='ruby') Ruby
                              option(value='scala') Scala
                              option(value='other') Other...
                        .form-group
                            label Willing to work online, without meeting face-to-face? *
                            select#online(name='online')
                              option(value='yes') Yes
                              option(value='no') No
                        .form-group
                            input(type='submit', value='Submit')
                        //button#signupbutton.genericButton(onclick='return validateSignUp()') SIGN UP
                        //script(type='text/javascript', src='/javascripts/sign_up_event.js')
