extends layout

block content
  form.entries(name='/register', method="post", onload='makeFooter()')
    img#avatarImg.avatar(src='/images/logo.png', alpostt='Avatar')
    br
    p
      | Create a new 
      b Teamspark
      |  account
    label Full Name *
    br
    input#fullname(type='text', name='fullname', placeholder='Full Name')
    p#nameError
    br
    label Email Address *
    br
    input#email(type='text', name='email', placeholder='name@example.com')
    p#emailError
    br
    label Password *
    br
    input#passwd(type='Password', name='password')
    p#passwdError
    br
    label Confirm Password *
    br
    input#rPasswd(type='Password', name='rePassword')
    p#rePasswdError
    br
    label Date of Birth *
    br
    input#dob(type='text', name='dob', placeholder='dd/mm/yyyy')
    p#dobError
    br
    label Favourite Programming Language
    br
    select#language(name='programmingLanguage')
      option(value='c') C
      option(value='cpp') C++
      option(value='cs') C#
      option(value='haskell') Haskell
      option(value='java') Java
      option(value='js') JavaScript
      option(value='objectivec') Objective-C
      option(value='perl') Perl
      option(value='php') PHP
      option(value='python') Python
      option(value='ruby') Ruby
      option(value='scala') Scala
      option(value='other') Other...
    br
    label#preterm
      br
      | I have read all the 
      label#terms terms and conditions
      |  and I agree. 
    //label#terms Show
    br
    input#agreebox(type='checkbox', name='agreement')
    label I Agree
    br
    p#agreementErr
    br
    br
    //<input type="submit" value="Submit">
    //input(type='submit', value='Submit')
    button#signupbutton.genericButton(onclick='return validateSignUp()') SIGN UP
    br
  script(type='text/javascript', src='/javascripts/sign_up_event.js')
  //#footer
  //p#date
