extends layout

block content
    #coverflowRegister.coverflow
        .container-fluid
            .row
                .col-md-6.col-md-offset-3
                    form.entries(name='/register', method="post", onload='makeFooter()')
                        img#avatarImg.avatar(src='/images/logo.png', alpostt='Avatar')
                        br
                        p
                          | Create a new 
                          b Teamspark
                          |  account
                        .form-group
                            label Full Name *
                            p#nameError
                            input#fullname(type='text', name='fullname', placeholder='Full Name', required)
                        .form-group
                            label Email Address *
                            p#emailError
                            input#email(type='text', name='email', placeholder='name@example.com', required)
                        .form-group
                            label Username *
                            p#usernameError
                            input#username(type='text', name='username', placeholder='lord_gabeN', required)
                        .form-group
                            label Password *
                            p#passwdError
                            input#passwd(type='Password', name='password', required)
                            label Confirm Password *   
                            p#rePasswdError
                            input#rPasswd(type='Password', name='rePassword', required)
                        .form-group
                            label Date of Birth *
                            p#dobError
                            input#dob(type='text', name='dob', placeholder='dd/mm/yyyy', required)
                        .form-group#progLanguages
                            label Favourite Programming Language *
                            select#selectProgLanguage(name='programmingLanguages')
                              option(value='c') C
                              option(value='cpp') C++
                              option(value='cs') C#
                              option(value='haskell') Haskell
                              option(value='java') Java
                              option(value='js') JavaScript
                              option(value='objectivec') Objective-C
                              option(value='perl') Perl
                              option(value='php') PHP
                              option(value='python') Python
                              option(value='ruby') Ruby
                              option(value='scala') Scala
                              option(value='other') Other...
                         .form-group
                             button#plusExtraProgLang(name = 'posproglang', type='button', onclick='return addLangOpt()') +
                             button#minusExtraProgLang(name = 'negproglang', type = 'button', onclick='return minusLangOpt()') -
                         .form-group#spokenLanguages
                             label Spoken Language(s) *
                             select#selectSpokenLanguage(name='spokenLanguages')
                                 option(value='English') English
                                 option(value='Afrikanns') Afrikanns
                                 option(value='Albanian') Albanian
                                 option(value='Arabic') Arabic
                                 option(value='Armenian') Armenian
                                 option(value='Basque') Basque
                                 option(value='Bengali') Bengali
                                 option(value='Bulgarian') Bulgarian
                                 option(value='Catalan') Catalan
                                 option(value='Cambodian') Cambodian
                                 option(value='Chinese (Mandarin)') Chinese (Mandarin)
                                 option(value='Croation') Croation
                                 option(value='Czech') Czech
                                 option(value='Danish') Danish
                                 option(value='Dutch') Dutch
                                 option(value='Estonian') Estonian
                                 option(value='Fiji') Fiji
                                 option(value='Finnish') Finnish
                                 option(value='French') French
                                 option(value='Georgian') Georgian
                                 option(value='German') German
                                 option(value='Greek') Greek
                                 option(value='Gujarati') Gujarati
                                 option(value='Hebrew') Hebrew
                                 option(value='Hindi') Hindi
                                 option(value='Hungarian') Hungarian
                                 option(value='Icelandic') Icelandic
                                 option(value='Indonesian') Indonesian
                                 option(value='Irish') Irish
                                 option(value='Italian') Italian
                                 option(value='Japanese') Japanese
                                 option(value='Javanese') Javanese
                                 option(value='Korean') Korean
                                 option(value='Latin') Latin
                                 option(value='Latvian') Latvian
                                 option(value='Lithuanian') Lithuanian
                                 option(value='Macedonian') Macedonian
                                 option(value='Malay') Malay
                                 option(value='Malayalam') Malayalam
                                 option(value='Maltese') Maltese
                                 option(value='Maori') Maori
                                 option(value='Marathi') Marathi
                                 option(value='Mongolian') Mongolian
                                 option(value='Nepali') Nepali
                                 option(value='Norwegian') Norwegian
                                 option(value='Persian') Persian
                                 option(value='Polish') Polish
                                 option(value='Portuguese') Portuguese
                                 option(value='Punjabi') Punjabi
                                 option(value='Quechua') Quechua
                                 option(value='Romanian') Romanian
                                 option(value='Russian') Russian
                                 option(value='Samoan') Samoan
                                 option(value='Serbian') Serbian
                                 option(value='Slovak') Slovak
                                 option(value='Slovenian') Slovenian
                                 option(value='Spanish') Spanish
                                 option(value='Swahili') Swahili
                                 option(value='Swedish ') Swedish 
                                 option(value='Tamil') Tamil
                                 option(value='Tatar') Tatar
                                 option(value='Telugu') Telugu
                                 option(value='Thai') Thai
                                 option(value='Tibetan') Tibetan
                                 option(value='Tonga') Tonga
                                 option(value='Turkish') Turkish
                                 option(value='Ukranian') Ukranian
                                 option(value='Urdu') Urdu
                                 option(value='Uzbek') Uzbek
                                 option(value='Vietnamese') Vietnamese
                                 option(value='Welsh') Welsh
                                 option(value='Xhosa') Xhosa
                        .form-group
                             button#plusExtraSpLang(name = 'posspeaklang', type='button', onclick='return addSpeakOpt()') +
                             button#minusExtraSpLang(name = 'negspeaklang', type = 'button', onclick='return minusSpeakOpt()') - 
                        .form-group
                            label Skill Level *
                            select#skillLevel(name='skillLevel')
                              option(value='beginner') No prior experience/ Noob.
                              option(value='amaetaur') Know the basics of my favourite programming language.
                              option(value='semi') Can solve complex problems efficiently using data structures and algorithms.
                              option(value='4') Regularly take part in programming competitions with above average performance.
                              option(value='pro') Have worked as a software dev/ engineer for over 2 years.
                              option(value='worldclass') Have worked for a major tech company/ contributed to an open source project used by 1000+ users.
                        .form-group
                            label Area of Interest
                            select#interest(name='userInterest')
                              option(value='ai') Machine Learning.
                              option(value='webdev') Web App Development.
                              option(value='datamining') Data Mining.
                              option(value='graphics') Graphics and Animation.
                              option(value='gamedev') Game Development.
                              option(value='uxdesign') UX Design.
                              option(value='network') Network and Security.
                              option(value='system') Systems Programming.
                              option(value='research') Research.
                        .form-group
                            label Availability for collaboration (Weekly)
                            select#availability(name='availability')
                              option(value='5 hours') 5 hours or less.
                              option(value='10 hours') 10 hours per week.
                              option(value='15 hours') 15 hours per week.
                              option(value='20 hours') 20 hours per week.
                              options(value='20+ hours') More than 20 hours per week.
                        //- .form-group
                        //-     label Location (Use Google Location Service)
                        //-     br
                        //-     br
                        //-     img.avatar(src='/images/location.png', alpostt='gmaps')
                        .form-group
                            label Location *
                            .form-group
                                label Country
                                input#country(type='text', name='country', placeholder='Australia')
                                label State/ Province
                                input#state(type='text', name ='state', placeholder='Western Australia')
                                label Suburb
                                input#suburb(type='text', name ='suburb', placeholder='Crawley')
                        .form-group
                            label Bio
                            textarea#bio(type='textarea', name='bio', placeholder='Tell potential team members more about yourself...', required)
                        .form-group#accountsGroup
                            label Accounts
                            input#gitHubAcc(type='text', name ='accounts', placeholder='github.com/')
                        .form-group
                            button#plusExtraAccount(name = 'posaccounts', type='button', onclick='return addAccountOpt()') +
                            button#minusExtraAccount(name = 'negaccounts', type = 'button', onclick='return minusAccountOpt()') -
                        .form-group
                            button.btn.btn-lg.btn-default.btn-block(onclick='return validateSignUp()') Create
                    script(type='text/javascript', src='/javascripts/sign_up_event.js')
