extends layout

block content
  .container-fluid
      .row
        #coverflow01.coverflow
          #main.jumbotron
            h1 Tests
            
        #content01.content
          h2 Explanations
